<DOCTYPE! html>
<html>
    <head>
        <title>Blog</title>
        <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.13/semantic.min.css">
        <link rel="stylesheet" type="text/css" href="/stylesheets/app.css">
         <!-- Global site tag (gtag.js) - Google Analytics -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=UA-113744389-1"></script>
        <script>
          window.dataLayer = window.dataLayer || [];
          function gtag(){dataLayer.push(arguments);}
          gtag('js', new Date());
        
          gtag('config', 'UA-113744389-1');
        </script>
        <style>
           body{ background-color:#34496b;}
        </style>
    </head>
    <body>
        <div class="ui fixed inverted menu">
            <div class="ui container">
                <div class="header item"><i class="Dashcube icon"></i>Blog site</div>
                <a href="/" class="item">Home</a> 
                <a href="/blogs/new" class="item">Create Blog</a> 
                <a href="https://photodiary1.herokuapp.com/" class="item">PhotoDiary</a> 
            </div>
            <!--<div class="right menu">-->
            <!--    <a style="margin-right:10px;" class="ui item">Log Out</a>-->
            <!--</div>-->
        </div>
        
   
    
    
    
    
