<% include ./partials/header %>
<div class="ui main text container">
    <div style="color:white;" class="ui huge header">Blog App</div>
    <div class="ui top attached segment">
        <div class="ui divided items">
            <% blogs.forEach(function(blog){ %>
                <div class="item">
                    <div class="image">
                        <img src=" <%= blog.image %> ">
                    </div>
                    <div class="content">
                            <a class="header" href="/blogs/<%= blog._id %>"><%= blog.title %> </a>
                            <div class="meta">
                                <p><%= blog.created.toDateString() %></p>
                            </div>
                            <div class="description">
                                <span><%= blog.body.substring(0, 100) %>. . .</p></span>
                            </div>
                            <div class="extras">
                                <a  class="tiny ui blue button" href="/blogs/<%= blog._id %>">
                                    Read more
                                    <i class="right chevron icon"></i>
                                </a>
                            </div>
                    </div>
                </div>
                <% }) %>
        </div>
    </div>
</div>

<% include ./partials/footer %>