<% include ./partials/header %>
<div class="ui main text container segment">
    <div class="ui huge header">New Blog</div>
    <form class="ui form" action="/blogs" method="POST">
        <div class="field">
            <label>Title</label>
                    <input type="text" name="blog[title]" placeholder="title" required>

        </div>
        <div class="field">
            <label>Image</label>
        <input type="text" name="blog[image]" placeholder="image url" required>

        </div>
        <div class="field">
            <label>Blog content</label>
            <textarea name="blog[body]"></textarea>
        

        </div>
        <input class="ui black button" type="submit">
    </form>
</div>
<% include ./partials/footer %>
